<script>
    const chatForm = document.getElementById('name');
    const messages = document.getElementById('messages');
    const online = document.querySelector('.online');

    const socket = io();

    const username = "<%= username %>";
    const room = "<%= room %>";

    // join chat room
    socket.emit('joinRoom', {
        username, room
    });

    //Get room & users
    socket.on('roomUsers', ({room, users}) => {
        online.innerHTML = "";
        let userlist = document.createElement("div");
        userlist.classList.add("users")
        for (let i = 0; i < users.length; i++) {
            userlist.insertAdjacentHTML("beforeend", `<p>${users[i]}</p>`);
        }
        for (let i = 0; i < 50; i++) {
            userlist.insertAdjacentHTML("beforeend", `<p>test${[i]}</p>`);
        }
        online.appendChild(userlist);
    });

    socket.on('message', message => {
        let msg_parse = message.text.split(/\s+/g);
        if (msg_parse[0][0] === "@") {
            let content = msg_parse.slice(msg_parse.length - 1);
            let msg = "";
            for (let i = 0; i < msg_parse.length - 1; i++) {
                if (msg_parse[i].substring(1) === username) {
                    msg += `<span>${msg_parse[i]} </span>`;
                } else {
                    msg += msg_parse[i] + " ";
                }
            }
            msg += content;
            messages.insertAdjacentHTML("beforeend", `
    <div class="message">
    <div class="h">
    <div class="username" onclick="appendText('@${message.username}')">${message.username}</div>
    <div class="time">${message.time}</div>
    </div>
    <div class="text">${msg}</div>
</div>
    `);
        } else {
            messages.insertAdjacentHTML("beforeend", `
    <div class="message">
    <div class="h">
    <div class="username" onclick="appendText('@${message.username}')">${message.username}</div>
    <div class="time">${message.time}</div>
    </div>
    <div class="text">${message.text}</div>
</div>
    `);
        }

        messages.scrollTop = messages.scrollHeight
    });

    //Message submit
    chatForm.addEventListener('keyup', (e) => {
        if (e.keyCode === 13) {
            e.preventDefault();
            const msg = e.target.value;
            socket.emit('chatMessage', msg);
            e.target.value = "";
            e.target.focus();
        }
    });

    socket.on('disconnect', () => {
        window.location.href = '/';
    });

    let firstId = 0;

    function getOldMessages() {
        socket.emit("getOldMessages", firstId)
    }

    messages.onscroll = _ => {
        if (firstId !== 0 && messages.scrollTop < 20) {
            getOldMessages();
        }
    }

    socket.on("messages", (arrayMessages) => {
        if (arrayMessages.length === 0) return;
        let newFirstId = arrayMessages[0].id;
        let diff = messages.scrollHeight - messages.scrollTop;

        arrayMessages.reverse().forEach(value => {

            let msg_parse = value.message.split(/\s+/g);
            if (msg_parse[0][0] === "@") {
                let content = msg_parse.slice(msg_parse.length - 1);
                let msg = "";
                for (let i = 0; i < msg_parse.length - 1; i++) {
                    if (msg_parse[i].substring(1) === username) {
                        msg += `<span>${msg_parse[i]} </span>`;
                    } else {
                        msg += msg_parse[i] + " ";
                    }
                }
                msg += content;

                messages.insertAdjacentHTML("afterbegin", `
    <div class="message">
    <div class="h">
    <div class="username" onclick="appendText('@${value.username}')">${value.username}</div>
    <div class="time">${value.time}</div>
    </div>

    <div class="text">${msg}</div>
</div>
    `);
            } else {


                messages.insertAdjacentHTML("afterbegin", `
    <div class="message">
    <div class="h">
    <div class="username" onclick="appendText('@${value.username}')">${value.username}</div>
    <div class="time">${value.time}</div>
    </div>

    <div class="text">${value.message}</div>
</div>
    `);
            }

        });
        if (firstId === 0) messages.scrollTop = messages.scrollHeight;
        else messages.scrollTop = messages.scrollHeight - diff;
        firstId = newFirstId;
    });

    function appendText(text) {
        document.getElementById("name").value += text + " ";
        document.getElementById("name").focus();
    }

    function closeSession() {
        socket.disconnect();
    }
</script>