<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Регистрация пользователя</title>
    <link rel="stylesheet" href="/admin-assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/admin-assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/admin-assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/admin-assets/fonts/fontawesome5-overrides.min.css">
    <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">
</head>

<body class="bg-gradient-primary">
<div class="container">
    <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-flex">
                    <div class="flex-grow-1 bg-register-image"
                         style="background-image: url(&quot;/assets/img/meeting.jpg&quot;);"></div>
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">Настройки пользователя <%= username %></h4>
                        </div>
                        <form class="user">
                            <div class="form-group"><input class="form-control form-control-user" type="text"
                                                           id="exampleInputEmail" aria-describedby="emailHelp"
                                                           placeholder="<%= username %>" name="login" value="<%= username %>"></div>
                            <div class="form-group">
                                <input class="form-control form-control-user"
                                       type="password" id="examplePasswordInput"
                                       name="password"></div>
                            <input value="Обновить пользователя" class="btn btn-primary btn-block text-white btn-user"
                                   onclick="">

                            <hr>

                            <div class="row" style="display: flex; margin-bottom: 15px">
                                <select style="flex:1;" class="form-select" multiple
                                        aria-label="Default select example">
                                    <option>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <label class="mdb-main-label">Обновить список доступных серверов</label>
                            <button class="btn-save btn btn-primary btn-sm">Обновить</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/admin-assets/js/jquery.min.js"></script>
<script src="/admin-assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script src="/admin-assets/js/theme.js"></script>
<script src="/assets/js/getJson.js"></script>
</body>

</html>