<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Admin - WTChat</title>
    <link rel="stylesheet" href="/admin-assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/admin-assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/admin-assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/admin-assets/fonts/fontawesome5-overrides.min.css">
    <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">
</head>

<body id="page-top">
<div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
        <div class="container-fluid d-flex flex-column p-0"><a
                    class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-user-shield"></i></div>
                <div class="sidebar-brand-text mx-3"><span>WTChat</span></div>
            </a>
            <hr class="sidebar-divider my-0">
            <ul class="navbar-nav text-light" id="accordionSidebar">
                <li class="nav-item"><a class="nav-link active" href="/admin"><i class="fa fa-server"></i><span>Серверная информация</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/admin/users"><i class="fas fa-user"></i><span>Пользователи</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/admin/servers"><i
                                class="fas fa-table"></i><span>Сервера</span></a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/reguser"><i class="fas fa-user-circle"></i><span>Регистрация пользователя</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-sign-out-alt"></i><span>Выход</span></a>
                </li>
            </ul>
            <div class="text-center d-none d-md-inline">
                <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
            </div>
        </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
            </nav>
            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0">Админ страница WTChat</h3>
                </div>
                <% if (isDocker) { %>
                    <p class="text-lg-left">Приложение запущено в Docker контейнере</p>
                <% } else { %>
                    <p class="text-lg-left">Приложение запущено без использования Docker контейнеризации</p>
                <% } %>
                <p class="text-lg-left d-md-inline-flex">Колличество серверов в системе:
                <p style="margin-left: 10px" class="d-md-inline-flex text-light bg-dark"><%= countServers %></p></p>
                <p class="text-lg-left d-md-inline-flex">Колличество пользователей:
                <p style="margin-left: 10px" class="d-md-inline-flex text-light bg-dark"><%= countUsers %></p></p>
                <p class="text-lg-left d-md-inline-flex">Колличество сообщений:
                <p style="margin-left: 10px" class="d-md-inline-flex text-light bg-dark"><%= countMessanges %></p></p>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Ибрагимов Руслан, 2021</span></div>
            </div>
        </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="/admin-assets/js/jquery.min.js"></script>
<script src="/admin-assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script src="/admin-assets/js/theme.js"></script>
</body>

</html>